<!--列表页面模板-->
<div class="container-fluid" style="font-size: 20px;">
    <div ng-if="loading">
        正在加载中
    </div>
    <div ng-if="!loading">
        <div class="row">
            <div class="col-xs-10">
                <ul class="nav nav-tabs">
                    <li ng-class="{active:pager.category == 'in_theaters'}"><a href="#!/list/in_theaters/1">正在热映</a></li>
                    <li ng-class="{active:pager.category == 'coming_soon'}"><a href="#!/list/coming_soon/1">即将上映</a></li>
                    <li ng-class="{active:pager.category == 'top250'}"><a href="#!/list/top250/1">top250</a></li>
                </ul>
            </div>
            <div class="col-xs-2">
                <span style="font-size: 35px;float: right;">电影列表</span>
            </div>
        </div>
        <div class="row">
            <ol class="breadcrumb">
                <li><a href="javascript:void(0)"></a>电影列表</li>
                <li><a href="javascript:void(0)"></a>{{pager.category==top250?top250:pager.category==coming_soon?'即将上映':'正在热映'}}</li>
                <li class="active">第{{pager.curr}}页(共{{pager.max}}页)</li>
            </ol>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-xs-4" ng-repeat="subject in data.subjects">
                <div class="thumbnail img-thumbnail">
                    <img ng-src="{{subject.images.large}}"
                         style="height: 260px;overflow-y: hidden;"
                         alt="{{subject.title}}">
                    <div class="caption" style="text-align:center;">
                        <a ng-href="#!/detail/{{subject.id}}">{{subject.title}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <ul class="pagination pull-right">
                    <li>
                        <a ng-href="#!/list/{{pager.category}}/{{pager.prev}}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;上一页</span>
                        </a>
                    </li>
                    <li>
                        <a ng-href="#!/list/{{pager.category}}/{{pager.next}}" aria-label="Next">
                            <span aria-hidden="true">下一页&raquo;</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>